body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
label, input, select, button {
    display: block;
    margin: 10px auto;
    width: 80%;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
select {
    padding: 5px;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffffff, #a8e6cf);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.back-button:hover {
    background-color: #cc0000;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.menu-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 45%;
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}
.menu-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.menu-card img {
    width: 100%;
    border-radius: 10px;
    height: 150px;
    object-fit: cover;
}
.menu-card button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}
.menu-card button:hover {
    background-color: #0056b3;
}